<button class="hide-on-mobile" (click)="toggleWhereFromInput()">Where from<span>{{ whereFrom() }}</span></button>
<button class="hide-on-mobile" (click)="toggleWhereToInput()">Where to<span>{{ whereTo() }}</span></button>
<app-date-picker/>
<button class="budget-button hide-on-mobile" (click)="toggleBudgetDropdown()">
  <icon-dropdown-arrow [class.rotate]="isBudgetDropdownOpen()" [strokeWidth]="2"/>
  Budget
  <span>{{ getDollarSign() }}</span>
</button>
<button [class.save-button]="hasSelectedAttractions()" [disabled]="!hasSelectedAttractions()" [class.disabled]="!hasSelectedAttractions()" (click)="openTripNameModal()">Save trip</button>

@if (isBudgetDropdownOpen()) {
  <div class="dropdown-menu"
       (clickOutside)="closeBudgetDropdown()"
       animate.enter="enter-animation"
       animate.leave="leave-animation">
    @for (option of budgetOptions; track option.id) {
      <button
        class="dropdown-item"
        [class.selected]="budget() === option.label"
        (click)="selectBudgedOption(option)">
        {{ option.label }}
      </button>
    }
  </div>
}
@if (isWhereFromDropdownOpen()) {
  <div class="city-menu where-from"
       (clickOutside)="closeWhereFromDropdown()"
       animate.enter="enter-animation"
       animate.leave="leave-animation">
    <span>Please enter where from you want to travel</span>
    <app-city-autocomplete-input [(cityModel)]="whereFrom"/>
    <button (click)="clearWhereFrom()" class="clear-button">Clear</button>
  </div>
}
@if (isWhereToDropdownOpen()) {
  <div class="city-menu"
       (clickOutside)="closeWhereToDropdown()"
       animate.enter="enter-animation"
       animate.leave="leave-animation">
    <span>Please enter where you want to travel</span>
    <app-city-autocomplete-input [(cityModel)]="whereTo"/>
    <button (click)="clearWhereTo()" class="clear-button">Clear</button>
  </div>
}
