@use "colors" as *;
@use "mixins" as *;
@use "../chat-shared" as *;

:host {
  position: relative;
  background: var(--modal-bg-color);
  display: flex;
  height: 4rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
  outline: var(--assistant-message-border);
  z-index: 1000;
}

.budget-button {
  display: flex;
  align-items: center;
  position: relative;
}

icon-dropdown-arrow {
  transition: transform 180ms ease;
  position: absolute;
  right: 130px;
}

.dropdown-menu {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 158px;
  background: var(--modal-bg-color);
  outline: var(--assistant-message-border);
  border-radius: 32px;
  z-index: 1000;

  .dropdown-item {
    @include poppins(400, 14px);
    width: 100%;
    padding: 0.8rem;
  }

  .selected {
    background: var(--hover-color);
  }
}

app-date-picker {
  height: 100%;
}

.disabled{
  opacity: 0.2;
  cursor: not-allowed;
}

.save-button{
  position: relative;
  background: $yellow-gradient;
  font-weight: 500;
  color: $black;

  &:hover{
    background: $yellow-gradient;
  }

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: inherit;
    background: inherit;
    filter: blur(0);
    opacity: 0;
    transition: filter 0.3s ease, opacity 0.3s ease;
    z-index: -1;
  }

  &:hover::before {
    filter: blur(6px);
    opacity: 0.6;
  }
}

.rotate {
  transform: rotate(180deg);
}

.city-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  top: 100%;
  background: var(--modal-bg-color);
  position: absolute;
  padding: 1rem;
  outline: var(--assistant-message-border);
  z-index: 1000;
  border-radius: 30px;

  .clear-button {
    height: 2rem;
  }
}

.where-from {
  left: 0;
}

.enter-animation {
  animation: slide-fade 100ms;
}

.leave-animation {
  animation: slide-fade reverse 100ms;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}






