@use "colors" as *;

:host{
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  flex-shrink: 0;
}

span {
  font-size: clamp(2rem, calc(6.2vw + 1rem), 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  width: 100%;
  color: var(--text-color);
  text-align: center;
  font-size: clamp(1rem, calc(1vw + 1rem), 1.5rem);
}

.main-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changing-word-container {
  display: inline-block;
  position: relative;
  min-width: 100px;
}

.fancy-w {
  color: $red;
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .logo{
    margin: 0 auto 16px;
  }
}




