button {
  background: transparent;
  display: flex;
  height: 30px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  text-align: center;
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
