@use "colors" as *;

:host {
  display: flex;
  justify-content: center;
}

:host {
  background-color: var(--chat-input-color);
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: clamp(0.5rem, calc(2.5vw + 1rem), 1rem);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;

  &::placeholder {
    opacity: 0.5;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.8rem;

  &:hover {
    background-color: var(--hover-color);
  }
}


.loading icon-send {
  opacity: 0.2;
  cursor: default;
}
