@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 180px auto 0 auto;
  flex-shrink: 0;
}

.content-wrapper {
  margin: 0 auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box
}

.content-wrapper h1 {
  margin: 0;
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.content-wrapper span {
  font-family: var(--main-font), sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content-wrapper p {
  margin: 0;
  color: var(--text-color);
  text-align: center;
  font-family: var(--main-font), sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changing-word-container {
  display: inline-block;
  position: relative;
  min-width: 100px;
}

.fancy-w {
  color: var(--red);
  font-family: var(--main-font), sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}




