<div class="input-wrapper" style="position: relative;">
  @if(label()){
    <label class="list-of-chats-selected" [for]="id()">{{label()}}</label>
  }
  <input
    [id]=id()
    [type]="type() === 'password' && !showPassword ? 'password' : 'text'"
    [placeholder]="placeholder()"
    [name]="name()"
    [autocomplete]="autocomplete()"
    [required]="required()"
    [value]="internalValue"
    (input)="onInput($event)"
    class="custom-input list-of-chats-font"
  />
  @if (type() === 'password') {
    <button
      type="button"
      (click)="togglePasswordVisibility()"
      tabindex="-1"
      class="eye-button"
    >
      @if (!showPassword) {
        <icon-eye/>
      }
      @if (showPassword) {
        <icon-eye-off/>
      }
    </button>
  }
</div>
