@use "colors" as *;
@use "mixins" as *;

:host {
  width: 100%;
}

:host-context([data-theme='dark']) .input-wrapper input {
  background: $gray;
  outline: none;

  &:focus {
    outline: 1px solid $white;
  }
}

.input-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;

  label {
    margin-left: 0.5rem;
    width: fit-content;
  }

  button {
    position: absolute;
    border-radius: 100%;
    padding: 0.4rem;
    right: 0.25rem;
    top: 66%;
    transform: translateY(-45%);
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: var(--hover-color);
    }
  }

  input {
    @include input();
  }
}
