@if (modalService.getModalState$(ModalType.LOGIN) | async) {
  <app-login-modal (close)="modalService.closeModal(ModalType.LOGIN)" (switchToRegister)="switchToRegister()" (switchToEmailInput)="switchToEmailInput()"/>
}

@if (modalService.getModalState$(ModalType.REGISTER) | async){
  <app-register-modal (close)="modalService.closeModal(ModalType.REGISTER)" (switchToLogin)="switchToLogin()"/>
}

@if (modalService.getModalState$(ModalType.EDIT_PROFILE) | async) {
  <app-settings-window (close)="modalService.closeModal(ModalType.EDIT_PROFILE)"/>
}

@if (modalService.getModalState$(ModalType.FORGOT_PASSWORD) | async){
  <app-email-input (close)="modalService.closeModal(ModalType.FORGOT_PASSWORD)" (codeSuccess)="switchToVerificationCodeInput($event)"/>
}

@if (modalService.getModalState$(ModalType.CODE_INPUT) | async){
  <app-verification-code-input (close)="modalService.closeModal(ModalType.CODE_INPUT)" [data]="modalService.getModalData(ModalType.CODE_INPUT)" (codeVerified)="switchToNewPasswordInput($event)"/>
}

@if (modalService.getModalState$(ModalType.NEW_PASSWORD_INPUT) | async){
  <app-new-password (close)="modalService.closeModal(ModalType.NEW_PASSWORD_INPUT)" [data]="modalService.getModalData(ModalType.NEW_PASSWORD_INPUT)"/>
}
