span {
  color: var(--red);
}

p {
  color: var(--text-color);
}

a {
  display: flex;
  width: 11.125rem;
  height: 2.25rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
