:host {
  display: block;
}
.map-container {
  width: 100%;
  height: 100%;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

app-attractions-carousel{
  z-index: 2000;
  position: absolute;
  width: calc(100% - 48px);
  top: 24px;
  right: 24px;
}
