<app-logo/>
@if (!(authStatus$ | async)) {
  <span class="menu-buttons">
      <app-color-scheme-switch/>
      <app-button [variant]="'transparent'" (click)="openLoginModal()">Login</app-button>
      <app-button [variant]="'outlined'" (click)="openRegistrationModal()">Sign Up</app-button>
    </span>
} @else {
  <span class="user-signed">
        <app-color-scheme-switch/>
        <button (click)="toggleUserMenu()">
          <p>{{ (user$ | async)?.username }}</p>
        <icon-profile/>
        </button>
      </span>
}
@if (showUserMenu) {
  <app-user-menu (closeMenu)="toggleUserMenu()"/>
}




