:host {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0.5rem, 1rem, 1.5rem);
}

:host-context([data-theme='light']) button, app-color-scheme-switch{
  --hover-color: oklch(0.895 0.1705 81.36);
}

:host-context([data-theme='light']) app-user-menu{
  --modal-bg-color: oklch(1 0.1705 81.36);
}

:host-context([data-theme='light']) app-login-button{
  --hover-color: oklch(0.895 0.1705 81.36);
}

:host-context([data-theme='light']) app-user-menu{
  --hover-color: oklch(0.965 0.1705 81.36);
}

:host-context([data-theme='dark']) app-color-scheme-switch{
  --hover-color: oklch(0.29 0 0);
}

:host-context([data-theme='dark']) app-user-menu{
  --hover-color: oklch(0.29 0 0);
}

.menu-buttons {
  display: flex;
  align-items: center;
}

.user-signed{
  display: flex;
  align-items: center;

  button{
    color: var(--text-color);
    border: none;
    background: none;
    border-radius: 50px;
    padding: 0.8rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: var(--hover-color);
    }
  }
}

app-user-menu{
  width: 190px;
  position: absolute;
  top: 68px;
  right: 19px;
}

icon-profile{
  cursor: pointer;
}




