.header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-signed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

app-user-menu{
  position: absolute;
  top: 58px;
  right: 24px;
}

icon-profile{
  cursor: pointer;
}

@media (max-width: 768px){
  .header{
    padding: 12px;
  }
}

