:host{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.message{
  min-width: 25px;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0 30px 30px 30px;
  background: var(--assistant-message-color);
  color: var(--text-color);
  outline: var(--assistant-message-border);
}
