.message-container{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.message{
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 0 30px 30px 30px;
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--light-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.assistant-icon{
  width: 26px;
  height: 26px;
}

