@use "colors" as *;
@use "mixins" as *;

button {
  @include poppins(400, 14px);
  flex-direction: column;
  box-sizing: border-box;
  width: 10rem;
  white-space: nowrap;
  display: flex;
  padding: 1rem 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);

  span{
    @include poppins(400, 14px);
    color: $blue;
  }

  .budget-button{
    display: flex;
    align-items: center;
    position: relative;
  }

  &:hover {
    background: var(--hover-color);
  }
}
