:host {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
  grid-template-areas:
    "header"
    "content";
  margin: 0;
  background: var(--main-page-color);
}

app-header{
  grid-area: header;
}

.main-content{
  align-self: center;
  justify-self: center;
  grid-area: content;
}

app-chat-input{
  max-width: 600px;
  padding: 16px 0;
  margin: 0 auto;
}
