@use "colors" as *;
@use "mixins" as *;

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
  grid-template-areas:
    "header"
    "main-content";
  margin: 0;
  background: var(--main-page-color);
}

app-header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  width: 90%;
  grid-template-rows: 100vh 1fr;
  display: grid;
  grid-template-areas:
    "main-page"
    "trips";
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  grid-area: main-content;
}

.main-page {
  display: flex;
  grid-area: main-page;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  button {
    white-space: nowrap;
    width: 12rem;
    @include poppins(500, 16px, center);
    display: flex;
    padding: 0.8rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--btn-bg-color);
    color: var(--btn-color);
    outline: none;
    border: none;
    cursor: pointer;
  }

  .outlined {
    outline: 1px solid var(--text-color);
    color: var(--text-color);
    background: transparent;
  }

  .button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.trips {
  padding-bottom: 2rem;
  grid-area: trips;

  h1 {
    margin-bottom: 1rem;
    @include poppins(500, 2rem, center);
  }

  .trips-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    .trip-card {
      cursor: pointer;
      display: grid;
      width: 200px;
      grid-template-rows: repeat(2, 120px);
      grid-template-columns: 200px;
      position: relative;
      border-radius: 30px;
      z-index: 500;
      scroll-snap-align: start;
      transition: 0.2s ease-out;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 2px 16px rgba(15, 23, 42, 0.18);
      }

      &-info {
        width: 100%;
        overflow: hidden;
        border-radius: 0 0 30px 30px;
        grid-row: 2;
        box-sizing: border-box;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--modal-bg-color);

        h3{
          font-weight: 600;
        }

        p {
          width: fit-content;

          span {
            color: $green;
          }
        }
      }

      img {
        border-radius: 30px 30px 0 0;
        grid-row: 1;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      h3 {
        width: 100%;
        margin: 0;
        overflow: hidden;
        hyphens: auto;
        text-overflow: ellipsis;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

@media (max-width: 768px) {
  .input-row {
    flex-direction: column;
  }
}
