@use "colors" as *;

:host {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-areas:
  "sidebar chatarea";
  grid-template-rows: 1fr;
  height: 100dvh;
}

app-side-bar {
  grid-area: sidebar;
}

app-chat-seession{
  grid-area: chatarea;
}

app-user-trips-page{
  grid-area: chatarea;
}

router-outlet {
  display: none;
}

@media (max-width: 1300px) {
  app-side-bar {
    display: none;
  }
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "chatarea"
  }
  .chat-area {
    height: 100%;
    margin: 0;
    align-self: end;
  }
  .chat-messages {
    flex: 1;
    padding: 16px 8px;
  }
}

