<app-side-bar/>
<section class="chat-area">
  <div class="chat-messages" id="chatContainer">
    @for (msg of messages; track msg.id) {
      @if (msg.author === 'user') {
        <app-user-message
          [text]="msg.text"
          class="user-message"
        ></app-user-message>
      }
      @if (msg.author === 'assistant') {
        <app-assistant-message
          [text]="msg.text"
          class="assistant-message"
        ></app-assistant-message>
      }
    }
  </div>
  <app-chat-input (onClick)="handleChatInput($event)"/>
</section>
<app-map/>

