<app-side-bar/>
<section class="chat-area">
  <div class="chat-messages" id="chatContainer" #chatContainer (scroll)="onScroll()">
    @for ((msg of messages$ | async); track msg.id) {
      @if (msg.role === 'user') {
        <app-user-message>
          <p>{{msg.content}}</p>
        </app-user-message>
      }
      @if (msg.role === 'assistant') {
        <app-assistant-message>
          <p>{{msg.content}}</p>
        </app-assistant-message>
      }
    }
    @if (showScrollButton) {
      <icon-arrow (click)="scrollToBottom()"/>
    }
    @if (isLoading) {
      <div class="loading-message">
        <icon-assistant/>
        <app-loading-animation/>
      </div>
    }
  </div>
  <app-chat-input [disabled]="isLoading" (onClick)="handleChatInput($event)"/>
</section>
<app-map [attractions]="attractions"/>
