<app-side-bar/>
<section class="chat-area">
  <div class="chat-messages" id="chatContainer">
    @for (msg of reversedMessages; track msg.id) {
      @if (msg.author === 'user') {
        <app-user-message
          [text]="msg.text"
          class="user-message"
        ></app-user-message>
      }
      @if (msg.author === 'assistant') {
        <app-assistant-message
          [text]="msg.text"
          class="assistant-message"
        ></app-assistant-message>
      }
    }
  </div>
  <app-chat-input
    (onClick)="handleChatInput($event)"
  ></app-chat-input>
</section>
<app-map/>

@if (modalService.getModalState$(ModalType.EDIT_PROFILE) | async) {
  <app-settings-window (close)="modalService.closeModal(ModalType.EDIT_PROFILE)"/>
}

@if (modalService.getModalState$(ModalType.LOGIN) | async) {
  <app-login-modal (close)="modalService.closeModal(ModalType.LOGIN)"/>
}
