:host{
  display: grid;
  grid-template-columns: 0.8fr 3fr 3fr;
  gap: 24px;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
}

app-side-bar{
  grid-column: 1;
}

app-chat-input{
  flex: 0 0 auto;
  margin: 16px 0;
}

app-map {
  grid-column: 3;
  height: 100%;
}

.chat-area{
  grid-column: 2;
  align-self: end;
  padding: 0 16px;
}

.chat-messages{
  scroll-behavior: smooth;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.user-message {
  align-self: flex-end;
}

.assistant-message {
  align-self: flex-start;
}

@media (max-width: 768px) {
  app-side-bar{
    display: none;
  }
  app-map{
    display: none;
  }
  :host{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .chat-area{
    padding: 0;
    margin: 0;
    grid-column: 1;
    align-self: end;
  }
}
