@if(passwordForm){
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <app-input [label]="'Password'" [id]="'password'" formControlName="currentPassword" type="password" autocomplete="current-password"/>
    <app-input [label]="'New password'" [id]="'newPassword'" formControlName="newPassword" type="password"/>
    <app-input [label]="'Repeat new password'" [id]="'repeatNewPassword'" formControlName="repeatPassword" type="password"/>
    <app-button type="submit"  [variant]="'animated'">Change password</app-button>
    @if (successMessage){
      <p class="font-s-light" style="text-align: center; color: limegreen">{{ successMessage }}</p>
    }
    @if (errorMessage) {
      <p class="error-message" style="text-align: center">{{ errorMessage }}</p>
    }
  </form>
}
