<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <h1>Change password</h1>
  <p class="font-s-light" style="text-align: center">Enter your email. We will send you verification code</p>
  <form [formGroup]="emailInputForm" (ngSubmit)="onSubmit()">
    @let email = emailInputForm.controls['email'];

    <div class="modal-window-input-field">
      <app-input [label]="'Email'" [id]="'label'" formControlName="email"/>
      @if (email.hasError('email') && email.touched) {
        <span class="error-message">Email format is invalid</span>
      }
      @if (email.hasError('required') && email.touched) {
        <span class="error-message">Email is required</span>
      }
    </div>
    <app-button type="submit" [variant]="'yellow'">Send code</app-button>
  </form>
</div>
