<div class="side-bar">
  <div class="chats-with-logo">
    <app-logo/>
    <div class="chats">
      <div class="option-buttons">
        <div>
          <icon-chat [selected]="true"/>
          <p>Chats</p>
        </div>
        <div>
          <icon-new-chat/>
          <p>New chat</p>
        </div>
      </div>
    </div>
  </div>
  @if (!(isLoggedIn$  | async)) {
    <p class="not-login-massage">Sign up or login to get access to history, more chats etc.</p>
    <section class="bottom-bar">
      <app-login-button (click)="openLoginModal()"/>
      <app-sign-up-button (click)="openRegistrationModal()"/>
      <app-color-scheme-switch/>
    </section>
  } @else {
    <section class="bottom-bar">
      <icon-profile (click)="toggleUserMenu()"/>
      <p (click)="toggleUserMenu()" style="cursor:pointer" >{{ (user$ | async)?.username }}</p>
      <app-color-scheme-switch/>
    </section>
  }
</div>
@if (showUserMenu){
  <app-user-menu/>
}
@if (showRegistrationModal) {
  <app-register-modal (switchToLogin)="handleSwitchToLogin()" (close)="closeModals()"/>
}
@if (showLoginModal) {
  <app-login-modal (switchToEmailInput)="handleSwitchToEmailInput()" (switchToRegister)="handleSwitchToRegister()" (close)="closeModals()"/>
}
@if (showEmailInputModal){
  <app-email-input (close)="closeModals()"/>
}
