@let isLoggedIn = (isLoggedIn$ | async);
<app-logo/>
<nav class="option-buttons">
  <ul>
    <li>
      <button>
        <icon-search/>
        Search chats
      </button>
    </li>
    <li>
      <button>
        <icon-new-chat/>
        New chat
      </button>
    </li>
  </ul>
</nav>
<div class="chat-list">
  @if (!isLoggedIn) {
    <p class="not-login-massage">
      Sign up or login to get access to history, more chats etc.
    </p>
  }
</div>
@if (!isLoggedIn) {
  <span class="bottom-bar">
      <app-button [variant]="'transparent'" (click)="openLoginModal()">Login</app-button>
      <app-button [variant]="'outlined'" (click)="openRegistrationModal()">Sign up</app-button>
      <app-color-scheme-switch/>
    </span>
} @else {
  <span class="user-bottom-menu">
      <button (click)="toggleUserMenu()">
        <icon-profile/>
        <p>{{ (user$ | async)?.username }}</p>
      </button>
      <app-color-scheme-switch/>
    </span>
}

@if (showUserMenu) {
  <app-user-menu/>
}

