@let isLoggedIn = (isLoggedIn$ | async);
<div class="side-bar">
  <app-logo/>
  <nav class="option-buttons">
    <ul>
      <li>
        <button class="chat-list-font-selected">
          <icon-chat [selected]="true"/>
          Chats
        </button>
      </li>
      <li>
        <button class="chat-list-font">
          <icon-new-chat/>
          New chat
        </button>
      </li>
    </ul>
  </nav>
  <div class="chat-list">

    @if (!isLoggedIn) {
      <p class="not-login-massage">
        Sign up or login to get access to history, more chats etc.
      </p>
    }
  </div>
  @if (!isLoggedIn) {
    <section class="bottom-bar">
      <app-login-button (click)="openLoginModal()"/>
      <app-sign-up-button (click)="openRegistrationModal()"/>
      <app-color-scheme-switch/>
    </section>
  } @else {
    <section class="bottom-bar">
      <icon-profile (click)="toggleUserMenu()"/>
      <p (click)="toggleUserMenu()" style="cursor:pointer">{{ (user$ | async)?.username }}</p>
      <app-color-scheme-switch/>
    </section>
  }
</div>

@if (showUserMenu) {
  <app-user-menu/>
}

