@let attractions = attractions$ | async;

@if (attractions && attractions.length>0) {
  <div class="carousel-wrapper" [class.closed]="!isShown()">
    <icon-arrow (click)="scrollLeft()" [class.disabled]="!canScrollLeft()" [strokeWidth]="0"/>
    <div class="cards-container" #cardsContainer (scroll)="onScroll($event)">

      @for (attraction of attractions; track attraction.id;) {
        <div class="card">
          <icon-favorite
            (click)="toggleAttractionSelection(attraction.id)"
            [filled]="isAttractionSelected(attraction.id)"
          />
          <img loading="lazy" [src]="attraction.photoUrl || 'assets/img/stas.png'" [attr.data-src]="attraction.photoUrl"
               alt="Attraction image">
          <div class="card-info">
            <h3 class="font-s-semiBold">{{ attraction.name }}</h3>
            <span class="row">
              <icon-star/>
              <p class="font-s-normal"> {{ attraction.rating }}</p>
            </span>
            <span class="row">
                @if (attraction.price) {
                  <icon-money/>
                  <p class="font-s-normal">{{ attraction.price }}</p>
                }
            </span>
          </div>
        </div>
      }
    </div>
    <icon-arrow class="arrow-right" (click)="scrollRight()" [strokeWidth]="0" [class.disabled]="!canScrollRight()"/>
  </div>

  <button class="btn" [class.btn-closed]="!isShown()" (click)="onButtonClick()">
    @if (!isShown()) {
      <icon-dropdown-arrow [strokeWidth]="2"/>
      Open
    } @else {
      <icon-cross [size]="12" [strokeWidth]="2"/>
      Close
    }
  </button>
}


