:host {
}
button{
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51.6px;
  width: 51.6px;
  border-radius: 100%;
  padding: 0.8rem;
  background: transparent;
  border: none;

  &:hover{
    background-color: var(--hover-color);
  }
}


