@use "colors" as *;

:host-context([data-theme='dark']) .search-input-container .search-input {
  outline: none;
}

:host{
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100dvw;
  height: 100dvh;
  background: var(--bg-color);
  transition: background 0.2s;
}

h1{
  color: $green;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.search-input-container {
  margin-bottom: 1rem;
  width: 30%;
  position: relative;
  display: flex;

  icon-search {
    left: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-input {
    color: var(--text-color);
    background: var(--chat-input-color);
    box-sizing: border-box;
    display: flex;
    border-radius: 50px;
    border: none;
    outline: 1px solid $light-gray;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    width: 100%;
    height: 49.6px;

    &:focus {
      outline: 1px solid var(--text-color);
    }
  }

  .search-clear-btn {
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.5rem;
    width: 2.25rem;
    height: 2.25rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.trips-list {
  padding: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .trip-card {
    cursor: pointer;
    display: grid;
    width: 200px;
    grid-template-rows: repeat(2, 120px);
    grid-template-columns: 200px;
    position: relative;
    border-radius: 30px;
    z-index: 500;
    scroll-snap-align: start;
    transition: 0.2s ease-out;
    box-shadow: 0 1px 4px rgba(15, 23, 42, 0.1);

    &:hover {
      transform: translateY(-4px);
    }

    &-info {
      width: 100%;
      overflow: hidden;
      border-radius: 0 0 30px 30px;
      grid-row: 2;
      box-sizing: border-box;
      display: flex;
      padding: 1rem;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--modal-bg-color);

      p {
        width: fit-content;

        span {
          color: $green;
        }
      }
    }

    img {
      border-radius: 30px 30px 0 0;
      grid-row: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    h3 {
      width: 100%;
      margin: 0;
      font-weight: 600;
      overflow: hidden;
      hyphens: auto;
      text-overflow: ellipsis;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
