<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <h1>Registration</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
    @let email = registrationForm.controls['email'];
    @let username = registrationForm.controls['username'];
    @let password = registrationForm.controls['password'];
    @let repeatPassword = registrationForm.controls['repeatPassword'];

    <div class="modal-window-input-field">
      <app-input [label]="'Email'" [id]="'email'" formControlName="email" type="email"/>
      @if (email.hasError('required') && email.touched) {
        <span class="error-message">Email is required</span>
      } @else if (email.hasError('email') && email.touched) {
        <span class="error-message">Enter valid email</span>
      }
    </div>
    <div class="modal-window-input-field">
      <app-input [label]="'Username'" [id]="'username'" formControlName="username" type="text"/>
      @if (username.hasError("required") && username.touched){
        <span class="error-message">Username is required</span>
      }
    </div>
    <div class="modal-window-input-field">
      <app-input [label]="'Password'" [id]="'password'" formControlName="password" type="password"/>
      @if (password.invalid && password.touched) {
        <span class="error-message">Password must contain at least 8 characters, one uppercase letter, one number, and one special character</span>
      }
    </div>
    <div class="modal-window-input-field">
      <app-input [label]="'Repeat password'" [id]="'repeatPassword'" formControlName="repeatPassword" type="password"/>
      @if (repeatPassword.hasError('required') && repeatPassword.touched) {
        <span class="error-message">Please repeat your password</span>
      }
      @if (repeatPassword.touched &&
      repeatPassword.value && repeatPassword.value !== password.value) {
        <span class="error-message">Passwords do not match</span>
      }
    </div>
    @if (errorMessage) {
      <span class="error-message" style="text-align: center">{{ errorMessage }}</span>
    }
    <app-button type="submit" [variant]="'animated'">Continue</app-button>
  </form>
  <div class="thin-divider"></div>
  <p>Already have an account? <a (click)="switchToLogin.emit()">Log in</a></p>
</div>
