<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <h1>Registration</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
    <div class="modal-window-input-field">
      <app-input [label]="'Email'" [id]="'email'" formControlName="email" type="email"/>
      @if (registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched) {
        <p class="error-message">Email is required</p>
      }
      @if (registrationForm.get('email')?.errors?.['email'] && registrationForm.get('email')?.touched) {
        <p class="error-message">Enter valid email</p>
      }
    </div>
    <div class="modal-window-input-field">
      <app-input [label]="'Username'" [id]="'username'" formControlName="username" type="text"/>
      @if (registrationForm.get('username')?.errors?.['required'] && registrationForm.get('username')?.touched) {
        <p class="error-message">Username is required</p>
      }
    </div>
    <div class="modal-window-input-field">
      <p class="list-of-chats-selected">Password</p>
      <app-input formControlName="password" type="password"/>
      @if (registrationForm.get('password')?.errors?.['invalidPassword'] && registrationForm.get('password')?.touched) {
        <div class="error-message">
          Password must contain at least 8 characters, one uppercase letter, one number, and one special character
        </div>
      }
    </div>
    <div class="modal-window-input-field">
      <p class="list-of-chats-selected">Repeat Password</p>
      <app-input formControlName="repeatPassword" type="password"/>
      @if (registrationForm.get('repeatPassword')?.errors?.['required'] && registrationForm.get('repeatPassword')?.touched) {
        <div class="error-message">Repeat password</div>
      }
      @if (registrationForm.get('repeatPassword')?.touched &&
      registrationForm.get('repeatPassword')?.value &&
      registrationForm.get('repeatPassword')?.value !== registrationForm.get('password')?.value) {
        <div class="error-message">Passwords do not match</div>
      }
    </div>
    @if (errorMessage) {
      <div class="error-message" style="text-align: center">{{ errorMessage }}</div>
    }
    <app-button type="submit" [variant]="'yellow'">Continue</app-button>
  </form>
  <div class="thin-divider"></div>
  <p>Already have an account? <a (click)="switchToLogin.emit()">Log in</a></p>
</div>
