<div class="modal-backdrop" (click)="handleClose()"></div>
<div class="modal-wrapper">
  <h1>Change password</h1>
  <p class="font-s-light" style="text-align: center">If user with provided email exists in our system, a code has
    been sent</p>
  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
    @let newPassword = newPasswordForm.controls['newPassword'];
    @let repeatNewPassword = newPasswordForm.controls['repeatNewPassword'];

    <div class="modal-window-input-field">
      <app-input [label]="'New password'" [id]="'newPassword'" formControlName="newPassword" type="password" autocomplete="new-password"/>
      @if (newPassword.invalid && newPassword.touched) {
        <span class="error-message">Password must contain at least 8 characters, one uppercase letter, one number, and one special character</span>
      }
    </div>
    <div class="modal-window-input-field">
      <app-input [label]="'Repeat new password'" [id]="'repeatNewPassword'" formControlName="repeatNewPassword" type="password" autocomplete="repeat-new-password"/>
      @if (repeatNewPassword.hasError('required') && repeatNewPassword.touched) {
        <span class="error-message">Please repeat your password</span>
      }
      @if (repeatNewPassword.touched &&repeatNewPassword.value && repeatNewPassword.value !== newPassword.value) {
        <span class="error-message">Passwords do not match</span>
      }
    </div>
    <app-button type="submit" [variant]="'yellow'">Confirm</app-button>
  </form>
</div>
