<div class="modal-backdrop"></div>
<div class="modal-wrapper">
  <div class="modal-content">
    <h1 class="modal-window-title" style="color: var(--blue)">Change password</h1>
    <p class="list-of-chats-font" style="text-align: center">If user with provided email exists in our system, a code has been sent</p>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; gap: 36px; width:100%">
      <div class="modal-content">
        <div class="modal-window-input-field">
          <p class="list-of-chats-selected text-center">New Password</p>
          <app-input formControlName="newPassword" type="password" autocomplete="new-password"/>
          @if (newPasswordForm.get('newPassword')?.errors?.['invalidPassword'] && newPasswordForm.get('newPassword')?.touched
            ) {
            <div class="error-message">
              Password must contain at least 8 characters, one uppercase letter, one number, and one special character
            </div>
          }
        </div>
        <div class="modal-window-input-field">
          <p class="list-of-chats-selected text-center">Repeat New Password</p>
          <app-input formControlName="repeatNewPassword" type="password" autocomplete="repeat-new-password"/>
          @if (newPasswordForm.get('repeatNewPassword')?.errors?.['required'] && newPasswordForm.get('repeatNewPassword')?.touched) {
            <div class="error-message">Repeat password is required</div>
          }
          @if (
            newPasswordForm.get('repeatNewPassword')?.touched &&
            newPasswordForm.get('repeatNewPassword')?.value &&
            newPasswordForm.get('repeatNewPassword')?.value !== newPasswordForm.get('newPassword')?.value
            ) {
            <div class="error-message">Passwords do not match</div>
          }
        </div>
      </div>
      <app-button text="Confirm" type="submit"/>
    </form>
  </div>
</div>
