@use "colors" as *;
@use "mixins" as *;

.date-button {
  position: relative;
  @include poppins(400, 14px);
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  min-width: 10rem;
  white-space: nowrap;
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);

  .dates{
    @include poppins(400, 14px);
    color: $blue;
  }

  &:hover {
    background: var(--hover-color);
  }
}



