<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    @let emailOrUsername = loginForm.controls['emailOrUsername'];
    @let password = loginForm.controls['password'];

    <div class="modal-window-input-field">
      <app-input [label]="'Email or username'" [id]="'emailOrUsername'" formControlName="emailOrUsername"/>
      @if (emailOrUsername.invalid && emailOrUsername.touched) {
        <span class="error-message">Email or username is required</span>
      }
    </div>
    <div class="modal-window-input-field">
      <app-input [label]="'Password'" [id]="'password'" formControlName="password" type="password"/>
      @if (password.invalid && password.touched) {
        <span class="error-message">Password is required</span>
      }
    </div>
    <a class="action-font" (click)="switchToEmailInput.emit()">Forgot Password?</a>
    @if (errorMessage) {
      <span class="error-message" style="text-align: center">{{ errorMessage }}</span>
    }
    <app-button type="submit" [variant]="'animated'">Login</app-button>
  </form>
  <div class="thin-divider"></div>
  <p>Don’t have an account? <a (click)="switchToRegister.emit()">Sign up</a></p>
</div>
