<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <div class="modal-content">
    <h1 class="modal-window-title">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
          style="display: flex; flex-direction: column; gap: 36px; width:100%">
      <div class="modal-window-inputs">
        <div class="modal-window-input-field">
          <p class="list-of-chats-selected">Email or username</p>
          <app-input formControlName="emailOrUsername"/>
          @if (loginForm.get('emailOrUsername')?.errors?.['required'] && loginForm.get('emailOrUsername')?.touched) {
            <div class="error-message">Email or username is required</div>
          }
        </div>
        <div class="modal-window-input-field">
          <p class="list-of-chats-selected">Password</p>
          <app-input formControlName="password" type="password"/>
          @if (loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched) {
            <div class="error-message">Password is required</div>
          }
        </div>
      </div>
      @if (errorMessage) {
        <div class="error-message" style="text-align: center">{{ errorMessage }}</div>
      }
      <app-button type="submit">Login</app-button>
    </form>
    <a (click)="switchToEmailInput.emit()" style="cursor: pointer" class="poppins-light">Forgot Password?</a>
    <div class="thin-divider"></div>
    <p class="acc-font">Don’t have an account? <a (click)="switchToRegister.emit()" style="font-weight: 600; font-size: 14px; cursor: pointer">Sign up</a></p>
  </div>
</div>

