<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <ul class="settings-menu list-of-chats-font">
    <li>Edit profile</li>
    <li>Preferences</li>
  </ul>
  <section class="edit-profile-content">
    <icon-profile size="180" strokeWidth="0.2"/>
    <form [formGroup]="personalInfoForm" (ngSubmit)="onPersonalInfoFormSubmit()" class="form">
      <div class="modal-window-input-field">
        <p class="list-of-chats-selected">Username</p>
        <app-input formControlName="username"/>
      </div>
      <div class="modal-window-input-field">
        <p class="list-of-chats-selected">Email</p>
        <app-input formControlName="email" type="email"/>
      </div>
      <app-button type="submit" text="Save information"/>
      @if(errorMessage){
        <p class="error-message" style="text-align: center">{{errorMessage}}</p>
      }
      @if(successMessage){
        <p class="list-of-chats-font" style="text-align: center">{{successMessage}}</p>
      }
    </form>
    <div class="modal-window-input-field" style="gap:12px">
      <p class="list-of-chats-selected">Password</p>
      <app-input placeholder="Current password" type="password"/>
      <app-input placeholder="New password" type="password"/>
      <app-input placeholder="Repeat new password" type="password"/>
    </div>
    <app-button text="Save information"/>
  </section>
</div>

