<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-wrapper">
  <ul class="settings-menu list-of-chats-font">
    <li>Edit profile</li>
    <li>Preferences</li>
  </ul>
  <section class="edit-profile-content">
    <icon-profile size="180" strokeWidth="0.2"/>
    @if(personalInfoForm){
    <form [formGroup]="personalInfoForm" (ngSubmit)="onPersonalInfoFormSubmit()" class="form">
      <div class="modal-window-input-field">
        <p class="list-of-chats-selected">Username</p>
        <app-input formControlName="username"/>
      </div>
      <div class="modal-window-input-field">
        <p class="list-of-chats-selected">Email</p>
        <app-input formControlName="email" type="email"/>
      </div>
      <app-button type="submit" text="Save information"/>
      @if (userInfoSuccessMessage) {
        <p class="error-message" style="text-align: center">{{ userInfoSuccessMessage }}</p>
      }
      @if (userInfoErrorMessage) {
        <p class="list-of-chats-font" style="text-align: center">{{ userInfoErrorMessage }}</p>
      }
    </form>
    }
    @if(passwordForm){
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" class="modal-window-input-field"
          style="gap:12px">
      <p class="list-of-chats-selected">Password</p>
      <app-input formControlName="currentPassword"  placeholder="Current password" type="password"/>
      <app-input formControlName="newPassword"  placeholder="New password" type="password"/>
      <app-input formControlName="repeatPassword" placeholder="Repeat new password" type="password"/>
      <app-button type="submit" text="Save information"/>
      @if (passwordErrorMessage) {
        <p class="error-message" style="text-align: center">{{ passwordErrorMessage }}</p>
      }
      @if (passwordSuccessMessage) {
        <p class="list-of-chats-font" style="text-align: center">{{ passwordSuccessMessage }}</p>
      }
    </form>
    }
  </section>
</div>

