<div class="modal-backdrop" (click)="handleClose()"></div>
<div class="modal-wrapper">
  <h1>Change password</h1>
  <p class="font-s-light" style="text-align: center">If user with provided email exists in our system, a code has been sent</p>
  <form [formGroup]="verifyResetCodeForm" (ngSubmit)="onSubmit()">
    @let code = verifyResetCodeForm.controls['code'];

    <div class="modal-window-input-field">
      <app-input [label]="'Verification code'" [id]="'verificationCode'" formControlName="code"/>
      @if (code.invalid && code.touched && !this.errorMessage) {
        <span class="error-message">Code is required</span>
      }
      @if (this.errorMessage) {
        <span class="error-message">{{ this.errorMessage }}</span>
      }
    </div>
    <app-button type="submit" [variant]="'yellow'">Verify</app-button>
  </form>
</div>
