$black: oklch(0.252 0 0);
$dark-gray: oklch(0.3092 0 0);
$light-gray: oklch(0.8699 0 0);
$red: oklch(0.603 0.2347 26.99);
$yellow: oklch(0.831 0.1705 81.36);
$blue: oklch(0.5712 0.1784 279.51);
$white: oklch(0.9928 0.0042 56.38);
$green: oklch(0.7194 0.1111 177.73);
$yellow-gradient: linear-gradient(
    255deg,
    oklch(91.9% 0.167 96.8) 0%,
    oklch(78.8% 0.188 71.9) 100%
);
$light-hover-color: oklch(0.95 0.0042 56.38);


