@use "colors" as *;

.flatpickr-calendar {
  width: fit-content !important;
  min-width: 320px !important;
  background: var(--modal-bg-color) !important;
  border-radius: 2rem !important;
  border: var(--assistant-message-border) !important;
  box-shadow: none !important;
  padding: 0.8rem !important;
}

.flatpickr-calendar.multiMonth {
  width: 640px !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: $blue !important;
  color: $white !important;
  border: none !important;
}

.flatpickr-months{
  display: flex;
  align-items: center;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  position: static !important;
  aspect-ratio: 1/1;
  padding: 0 !important;
  background: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
  }
}
