@mixin poppins($weight: 400, $size: 16px, $text-align: left) {
  font-family: 'Poppins', sans-serif;
  text-align: $text-align;
  font-weight: $weight;
  font-size: $size;
  font-style: normal;
  line-height: 1.5;
}
