@use "colors" as *;

$light-theme: (
  bg-color: $white,
  text-color: $black,
  assistant-message-color: $white,
  assistant-message-border: 1px solid $light-gray,
  main-page-color: $yellow-gradient,
  btn-color: $white,
  btn-bg-color: $black,
);

$dark-theme: (
  bg-color: $black,
  text-color: $white,
  assistant-message-color: $dark-gray,
  assistant-message-border: none,
  main-page-color: $black,
  btn-color: $black,
  btn-bg-color: $yellow,
);


:root {
  @each $prop, $value in $light-theme {
    --#{$prop}: #{$value};
  }
}

.dark-mode {
  @each $prop, $value in $dark-theme {
    --#{$prop}: #{$value};
  }
}
