@if(passwordForm){
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="modal-window-input-field"
        style="gap:12px">
    <p class="list-of-chats-selected">Password</p>
    <app-input formControlName="currentPassword"  placeholder="Current password" type="password"/>
    <app-input formControlName="newPassword"  placeholder="New password" type="password"/>
    <app-input formControlName="repeatPassword" placeholder="Repeat new password" type="password"/>
    <app-button type="submit" text="Save information"/>
    @if (successMessage) {
      <p class="list-of-chats-font" style="text-align: center; color: limegreen">{{ successMessage }}</p>
    }
    @if (errorMessage) {
      <p class="error-message" style="text-align: center">{{ errorMessage }}</p>
    }
  </form>
}
