@use "colors" as *;
@use "fonts" as *;
@use "mixins" as *;
@use "variables" as *;
@use "text-styles" as *;
@use "utilities" as *;

*, :root{
  margin: 0;
  padding: 0;
  @include poppins();
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  width: 100dvw;
  min-height: 100dvh;
  transition: background 0.2s;
}

