@if (personalInfoForm) {
  <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
    @let email = personalInfoForm.controls["email"];

    <app-input [label]="'Username'" [id]="'username'" formControlName="username"/>
    <div class="modal-window-input-field">
      <app-input [label]="'Email'" [id]="'email'" formControlName="email" type="email"/>
      @if(email.invalid && email.touched){
        <span class="error-message">Invalid email format</span>
      }
    </div>
    <app-button type="submit" [variant]="'yellow'">Save Information</app-button>
    @if (successMessage) {
      <p class="list-of-chats-font" style="text-align: center; color: limegreen">{{ successMessage }}</p>
    }
    @if (errorMessage) {
      <p class="error-message" style="text-align: center">{{ errorMessage }}</p>
    }
  </form>
}
