@if (personalInfoForm) {
  <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
    <app-input [label]="'Username'" [id]="'username'" formControlName="username"/>
    <app-input [label]="'Email'" [id]="'email'" formControlName="email" type="email"/>
    <app-button type="submit" [variant]="'yellow'">Save Information</app-button>
    @if (successMessage) {
      <p class="list-of-chats-font" style="text-align: center; color: limegreen">{{ successMessage }}</p>
    }
    @if (errorMessage) {
      <p class="error-message" style="text-align: center">{{ errorMessage }}</p>
    }
  </form>
}
