@use "colors" as *;
@use "mixins" as *;

:host{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap:0.5rem;
}

:host-context([data-theme='dark']) input {
  background: $black;
  outline: none;

  &:focus {
    outline: 1px solid $white;
  }
}

input{
  @include input();
}

.autocomplete-list {
  outline: var(--assistant-message-border);
  border-radius: 25px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  position: absolute;
  scroll-behavior: smooth;
  scrollbar-width: none;
  top: 100%;
  background: var(--modal-bg-color);
  width: 100%;
  z-index: 10;

  li {
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    &:hover{
      background: var(--hover-color);
    }
  }
}

app-loading-animation{
  width: 40px;
  height: 16px;
  margin: auto;
}
