button {
  background: transparent;
  display: flex;
  height: 30px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  font-size: clamp(0.5rem, calc(1.2vw + 1rem), 1rem);
  border: 1px solid var(--text-color);
  cursor: pointer;
}
