button {
  background: transparent;
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  cursor: pointer;
}
