@use "colors" as *;

:host{
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 32px;
  outline: 1px solid var(--hover-color);
  background: var(--bg-color);
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;

  li{
    display: flex;
    gap: 0.5rem;
    border-radius: 50px;
    padding: 0.8rem;
    cursor: pointer;

    &:hover{
      background-color: var(--hover-color);
    }
  }
}
